<!DOCTYPE html>
<html>
<head>
<title>生成代码-代码生成器</title>
#parse("include/header.html")
</head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
		
			<tr>
	            <td class="formTitle">数据表<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="数据表，如：权限模块 -> shiro" v-model="generator.tables" readonly="readonly">
	            </td>
        	</tr>
        	
        	
        	<tr>
	            <td class="formTitle">packageName<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="数据表，如：com.pptv.hems.admin -> shiro" v-model="generator.packageName" checkexpession="NotNull">
	            </td>
        	</tr>
        	
        	
        	<tr>
	            <td class="formTitle">mapperPackageName<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="数据表，如：com.pptv.hems.admin.dao -> shiro" v-model="generator.mapperPackageName" checkexpession="NotNull">
	            </td>
        	</tr>
        	
        	
        	
        	
        	
			<tr>
	            <td class="formTitle">模块包名<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="模块包名，如：权限模块 -> shiro" v-model="generator.module" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">功能编码<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="功能编码，如：用户管理 -> user" v-model="generator.functionCode" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">请求地址<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="请求地址，如：用户管理 -> sys/user" v-model="generator.requestMapping" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">页面模块<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="页面模块，如：用户管理 -> base/user" v-model="generator.viewPath" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
        	<tr>
				<td class="formTitle">类型</td>
				<td class="formValue">
					<label class="radio-inline">
						<input type="radio" name="type" value="1" v-model="generator.type"/> 生成包结构
					</label>
					<label class="radio-inline">
						<input type="radio" checked="checked" name="type" value="2" v-model="generator.type"/> 只生成源代码
					</label>
				</td>
			</tr>
		</table>
	</div>
	#parse("include/footer.html")
	<script
		src="${rc.contextPath}/statics/js/base/generator/code.js?_${date.systemTime}"></script>
</body>
</html>